.inputContainer {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  font-size: 16px;
  padding: 16px;
  line-height: 44px;
  color: var(--gray-300);
}

.inputContainer:focus {
  border-color: var(--purple-dark);
  outline: 0;
}